<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://js.feiliu.com/ipa/gcld_feiliu_1.6.0_(06e2faf62e26c3df50e83fefb80270c0).ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://js.feiliu.com/static/flgc/gcld_icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://js.feiliu.com/static/flgc/gcld_icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.aoshitang.gcld-feiliu</string>
				<key>bundle-version</key>
				<string>1.5.11</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>攻城掠地</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
